* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
  font-size: 54%;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 46%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #655a56;
  /* background-image: linear-gradient(to right bottom, #fbdb89, #f48982); */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.btn,
.btn-small,
.btn-small:link,
.btn-small:visited {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.btn:hover,
.btn-small:hover {
  transform: scale(1.05);
}
.btn:focus,
.btn-small:focus {
  outline: none;
}
.btn > *:first-child,
.btn-small > *:first-child {
  margin-right: 1rem;
}

.btn {
  padding: 1.3rem 3rem;
  font-size: 1.4rem;
}
.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
  font-size: 1.3rem;
  padding: 1rem 1.75rem;
  text-decoration: none;
}
.btn-small svg,
.btn-small:link svg,
.btn-small:visited svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
}

.btn-inline {
  color: #f59a83;
  font-size: 1.2rem;
  border: none;
  background-color: #f9f5f3;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.btn-inline svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  margin: 0 0.2rem;
}
.btn-inline span {
  margin: 0 0.4rem;
}
.btn-inline:hover {
  color: #f48982;
  background-color: #f2efee;
}
.btn-inline:focus {
  outline: none;
}

.btn-tiny {
  height: 1.75rem;
  width: 1.75rem;
  border: none;
  background: none;
  cursor: pointer;
}
.btn-tiny svg {
  height: 100%;
  width: 100%;
  fill: #f59a83;
  transition: all 0.3s;
}
.btn-tiny:focus {
  outline: none;
}
.btn-tiny:hover svg {
  fill: #f48982;
  transform: translateY(-1px);
}
.btn-tiny:active svg {
  fill: #f48982;
  transform: translateY(0);
}
.btn-tiny:not(:last-child) {
  margin-right: 0.3rem;
}

.btn-short {
  height: 1.75rem;
  width: 8rem;
  margin-left: 3rem;
  line-height: 0.2;
  display: inline-block;
}

#App {
  margin: 0em auto;
  max-width: 1200px;
  /* margin: 4vw auto; */
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(86, 98, 101, 0.48);

  /* GRID 설정 부분 !!!! */
  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto) 8rem; /* 위에서부터 각 행에 대한 높이 정함*/
  grid-template-columns: 1.1fr 2fr; /* 왼쪽부터 각 열에대한 비율 정함 (고정값주면 고정됨, fr 은 비율) */
  grid-template-areas:  /* 행 열을 맞춰서 작성 */
    "head head"
    "results recipe"
    "footer footer";

  /* position: relative; */
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0;
}

/* Header 부분 */
.header {
  grid-area: head;
  background-color: #f9f5f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.header__logo-wrapper {
  display: flex;
}
.header__logo {
  margin-left: 4rem;
  height: 4.5rem;
  display: block;
}
.header__logo + span {
  align-self: flex-end;
}

.alert {
  position: fixed;
  top: 0rem;
  z-index: 12;
  margin-left: 1rem;
}
.alert__item {
  height: 0rem;
  width: 33rem;
  margin-bottom: 0.7rem;
  padding-top: 1rem;
  overflow: hidden;
  box-shadow: 0 1.7rem 2rem rgba(101, 90, 86, 0.78);
}
.alert__item.start {
  height: 5.6rem;
}
.alert__item.end {
  height: 0rem;
  padding-top: 0rem;
}
.alert__item.red {
  background-color: #fe5353;
}
.alert__item-timebar.red {
  background-color: #f6a0a0;
}
.alert__item.green {
  background-color: #4750ff;
}
.alert__item-timebar.green {
  background-color: rgb(175, 183, 255);
}
.alert__item-message {
  display: block;
  color: white;
  font-size: 1.8rem;
  margin: 0rem 4rem;
}
.alert__item-timebar {
  height: 0.8rem;
  width: 100%;
  margin-top: 1rem;
}
.alert__item-timebar.start {
  width: 0rem !important;
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
}

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08);
}
.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 30rem;
}
.search__field:focus {
  outline: none;
}
.search__field::placeholder {
  color: #726e6d;
  font-weight: bold;
}

.header__btns {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}

.shopping {
  display: inline-block;
  /* width: 100px; */
}
.shopping__btn {
  padding-top: 0.2rem;
  font-size: 2.8rem;
  color: #00000045;
  background: none;
  border: none;
  outline: none;
}
.shopping__btn.active {
  color: #f9677a;
  cursor: pointer;
}
.shopping__modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
}
.shopping__modal-content {
  width: 500px;
  height: 0px;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(to right bottom, #ffcb3c00, #ff766d40);
  transition: height 0.7s ease-in-out;
  overflow: hidden;
  border-radius: 10px;
}
.shopping__modal-content.visible {
  height: 600px !important;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.shopping__modal-header {
  justify-self: center;
  width: 100%;
}
.shopping__modal-btns {
  display: flex;
  justify-content: center;
}
.shopping__modal-btns > .btn-short:first-child {
  margin-left: 0px;
}
.heading-2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #f59a83;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
  /* transform: skewY(-3deg);
  transform: skewY(-3deg); */
  justify-self: center;
}
.shopping__clear {
  background-image: linear-gradient(to right bottom, #febdb8, #f85f55);
}
.shopping__copy,
.shopping__clear {
  height: 3rem;
  border-radius: 5px;
}
.shopping__list {
  margin-top: 4rem;
  list-style: none;
  max-height: 77rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 2rem;
  width: 100%;
}

.shopping__list::-webkit-scrollbar {
  width: 5px;
  background: #eee;
  border-radius: 100px;
}

.shopping__list::-webkit-scrollbar-thumb {
  background: #eba09e;
  border-radius: 100px;
}

.shopping__list::-webkit-scrollbar-track {
  background: #f5dbda;
  border-radius: 100px;
}
.shopping__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.3rem 0;
  border-bottom: 1.5px solid #ffbdbbb8;
  position: relative;
  font-size: 1.6rem;
}
.shopping__count {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10rem;
  flex: 0 0 10rem;
  padding: 0.4rem 0.5rem;
  border: 1px solid #f2efee;
  border-radius: 3px;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.shopping__count input {
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  width: 3.7rem;
  border-radius: 3px;
  background-color: inherit;
}

.shopping__count input:focus {
  outline: none;
  background-color: #f2efee;
}

.shopping__count p {
  font-size: 1.4rem;
}

.shopping__description {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 0.4rem;
  margin-right: 1.5rem;
}

.shopping__delete {
  position: absolute;
  right: 1.5rem;
  /* background-image: linear-gradient(to right, transparent 0%, #fff 40%, #fff 100%); */
  /* width: 3.75rem;
  padding-left: 2rem; */
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transform: translateX(100px);
}
.shopping__delete svg {
  height: 2.5rem;
  width: 2.5rem;
}

.shopping__item:hover .shopping__delete {
  visibility: visible;
  transform: translateX(0px);
}

.hidden {
  display: none !important;
}

.likes {
  position: relative;
  /* align-self: stretch; */
  padding: 0 !important;
  /* width: 100px; */
  display: inline-block;
}
.likes__field {
  margin-left: 4rem;
  display: inline-block;
  align-items: center;
  height: 100%; /* height 100% 해주면 자동으로 아래 요소는 밑으로 내려감*/
  width: auto;
  transition: all 0.3s;
}
.likes__panel:hover,
.likes__field.active:hover + .likes__panel {
  visibility: visible !important;
  opacity: 1 !important;
  /* visibility: visible;
  opacity: 1; */
}
.likes__icon.active {
  fill: #f59a83;
  cursor: pointer;
}
.likes__icon {
  fill: #00000045;
  height: 3.75rem;
  width: 3.75rem;
}
.likes__panel {
  position: absolute;
  right: -4.1rem;
  top: 7rem;
  z-index: 10;
  padding: 2rem 0;
  width: 34rem;
  background-color: #fefaf8;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}

.results {
  grid-area: results;
  /* display: block; */
  background-image: linear-gradient(to bottom, #ffe5d4, #fff4ef);
  transition: all 0.5s;
  position: relative;
}
.results,
.likes {
  padding: 3rem 0;
  /* min-width: 227.65px; */
}
.results__list {
  margin-bottom: 3rem;
}
.results__list,
.likes__list {
  list-style: none;
}
.results__link:link,
.results__link:visited,
.likes__link:link,
.likes__link:visited {
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}
.results__link:hover,
.likes__link:hover {
  background-color: #f9f5f3;
  transform: translateY(-2px);
}
.results__link--active,
.likes__link--active {
  background-color: #f9f5f3;
}
.results__fig,
.likes__fig {
  flex: 0 0 5.5rem; /* flex-grow, flex-shrink, flex-basis */
  border-radius: 50%;
  overflow: hidden;
  height: 5.5rem;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden;
}
.results__fig::before,
.likes__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #f9fb89, #f48982);
  opacity: 0.4;
}
.results__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
/* .results__fig img.active{
  display:block;
} */

.likes__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.results__name,
.likes__name {
  font-size: 1.3rem;
  color: #ff6239;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.results__author,
.likes__author {
  font-size: 1.1rem;
  color: #968b87;
  text-transform: uppercase;
  font-weight: 600;
}
.results__pages,
.likes__pages {
  margin-top: 3rem;
  padding: 0 3rem;
}
.results__pages::after,
.likes__pages::after {
  content: "";
  display: table;
  clear: both;
}
.results__btn--prev {
  border: 1px solid #ffc29a;
  float: left;
  flex-direction: row-reverse;
  margin-left: 2rem;
}
.results__btn--next {
  border: 1px solid #ffc29a;
  float: right;
  margin-right: 2rem;
}

.loader {
  margin: 20rem auto;
  text-align: center;
}
.loader.large {
  margin: 0;
  padding: 15rem;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #ffe5d4b0, #fff4ef91);
  z-index: 1;
}
.loader svg {
  height: 5.5rem;
  width: 5.5rem;
  fill: #f59a83;
  transform-origin: 44% 50%;
  animation: rotate 1.5s infinite linear;
}

.loader.nav {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
}
.loader.nav svg {
  margin: auto;
  height: 4rem;
  width: 4rem;
  fill: #f59a83;
  transform-origin: 50% 50%;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* RECIPE 부분 */

.recipe {
  /* position: relative; */
  background-color: #f9f5f3;
  border-top: 1px solid #fff;
  z-index: 1;
}
.recipe__fig {
  height: 30rem;
  position: relative;
  transform: scale(1.04) translateY(-1px);
  transform-origin: top;
}
.recipe__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right bottom,
    #fbdb89,
    rgba(244, 130, 130, 0.1)
  );
  opacity: 0.6;
}
.recipe__img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.recipe__title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%) skewY(-6deg);
  color: #fff;
  font-weight: 700;
  font-size: 2.75rem;
  text-transform: uppercase;
  width: 70%;
  line-height: 1.95;
  text-align: center;
}
.recipe__title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1.3rem 2rem;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
}

.sides__btns {
  position: absolute;
  top: 11rem;
  right: 1rem;
  height: 100%;
}
.sides__btns button {
  position: sticky;
  top: 3rem;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  border: none;
  border-radius: 1rem;
  background-color: rgb(255, 229, 212);
  color: #f48982;
  font-size: 2rem;
  box-shadow: 0 0rem 0.5rem 0.4rem rgba(59, 53, 53, 0.09);
  outline: none;
}
.results__toggle {
  margin-right: 1rem;
  transition: all 0.5s 0.2s; /* name | duration | delay */
}
/* 모바일 세로, 가로 사이즈에서만 표시되도록 설정 */
@media only screen and (min-width: 768px) {
  .results__toggle,
  .shopping__scroll {
    visibility: hidden;
  }
}
.recipe__details {
  display: flex;
  align-items: center;
  padding: 8rem 3rem 3rem 3rem;
}
.recipe__info {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.recipe__info:not(:last-child) {
  margin-right: 4rem;
}
.recipe__info-icon {
  height: 2rem;
  width: 2rem;
  fill: #f59a83;
  margin-right: 1rem;
}
.recipe__info-data {
  margin-right: 0.4rem;
  font-weight: 600;
}
.recipe__info-buttons {
  display: flex;
  margin-left: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transform: translateY(5px);
  transition: all 0.4s;
}
.recipe__info-buttons {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.recipe__love {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  margin-left: auto;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.recipe__love:hover {
  transform: scale(1.07);
}
.recipe__love:focus {
  outline: none;
}
.recipe__love svg {
  height: 2.75rem;
  width: 2.75rem;
  fill: #fff;
}
.recipe__ingredients {
  padding: 4rem 5rem;
  font-size: 1.5rem;
  line-height: 1.4;
  background-color: #f2efee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe__ingredient-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2.5rem;
  list-style: none;
  margin-bottom: 3rem;
}
.recipe__item {
  display: flex;
}
.recipe__icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: #f59a83;
  border: 1px solid #f59a83;
  border-radius: 50%;
  padding: 2px;
  margin-right: 1rem;
  flex: 0 0 auto;
  margin-top: 0.1rem;
}
.recipe__count {
  margin-right: 0.5rem;
  flex: 0 0 auto;
}
.recipe__directions {
  padding: 4rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe__directions-text {
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
  margin-bottom: 3rem;
  color: #968b87;
}
.recipe__by {
  font-weight: 700;
}

.footer {
  grid-area: footer;
  background-color: #f2efee;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copyright {
  color: #968b87;
  font-size: 1.2rem;
  margin-top: auto;
}
.link:link,
.link:visited {
  color: #968b87;
}
.link__info-wrapper {
  font-size: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.link__info:nth-of-type(2) {
  margin-left: 5rem;
  font-size: 1.5rem;
  line-height: 4rem;
}
.link__info:link,
.link__info:visited {
  color: #514f4e;
  text-decoration: none;
}
