* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #655a56;
  /* background-image: linear-gradient(to right bottom, #fbdb89, #f48982); */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.btn,
.btn-small,
.btn-small:link,
.btn-small:visited {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.btn:hover,
.btn-small:hover {
  transform: scale(1.05);
}
.btn:focus,
.btn-small:focus {
  outline: none;
}
.btn > *:first-child,
.btn-small > *:first-child {
  margin-right: 1rem;
}

.btn {
  padding: 1.3rem 3rem;
  font-size: 1.4rem;
}
.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
  font-size: 1.3rem;
  padding: 1rem 1.75rem;
  text-decoration: none;
}
.btn-small svg,
.btn-small:link svg,
.btn-small:visited svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
}

.btn-inline {
  color: #f59a83;
  font-size: 1.2rem;
  border: none;
  background-color: #f9f5f3;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.btn-inline svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  margin: 0 0.2rem;
}
.btn-inline span {
  margin: 0 0.4rem;
}
.btn-inline:hover {
  color: #f48982;
  background-color: #f2efee;
}
.btn-inline:focus {
  outline: none;
}

.btn-tiny {
  height: 1.75rem;
  width: 1.75rem;
  border: none;
  background: none;
  cursor: pointer;
}
.btn-tiny svg {
  height: 100%;
  width: 100%;
  fill: #f59a83;
  transition: all 0.3s;
}
.btn-tiny:focus {
  outline: none;
}
.btn-tiny:hover svg {
  fill: #f48982;
  transform: translateY(-1px);
}
.btn-tiny:active svg {
  fill: #f48982;
  transform: translateY(0);
}
.btn-tiny:not(:last-child) {
  margin-right: 0.3rem;
}

.btn-short {
  height: 1.75rem;
  width: 8rem;
  margin-left: 3rem;
  line-height: 0.2;
  display: inline-block;
}

/* #App {
    margin: 1.5em auto;
    max-width: 1280px;
} */

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0;
}

/* Header 부분 */
.header {
  grid-area: head;
  background-color: #f9f5f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.header__logo {
  margin-left: 4rem;
  height: 4.5rem;
  display: block;
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
}

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08);
}
.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 30rem;
}
.search__field:focus {
  outline: none;
}
.search__field::placeholder {
  color: #726e6d;
  font-weight: bold;
}

.likes {
  position: relative;
  align-self: stretch;
  padding: 0 !important;
}
.likes__field {
  cursor: pointer;
  margin-left: 4rem;
  display: inline-block;
  align-items: center;
  height: 100%; /* height 100% 해주면 자동으로 아래 요소는 밑으로 내려감*/
  width: auto;
  transition: all 0.3s;
}
.likes__panel:hover,
.likes__hover:hover + .likes__panel {
  visibility: visible !important;
  opacity: 1 !important;
  visibility: visible;
  opacity: 1;
}
.likes__icon {
  fill: #f59a83;
  height: 3.75rem;
  width: 3.75rem;
}
.likes__panel {
  position: absolute;
  right: 0;
  top: 6rem;
  z-index: 10;
  padding: 2rem 0;
  width: 34rem;
  background-color: #fefaf8;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}

.results {
    // display: block;
    background-image: linear-gradient(to bottom, #ffe5d4, #fff4ef);
    transition: all 0.5s;
  }
  .results,
  .likes {
    padding: 3rem 0;
    min-width: 227.65px;
  }
  .results__list,
  .likes__list {
    list-style: none;
  }
  .results__link:link,
  .results__link:visited,
  .likes__link:link,
  .likes__link:visited {
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    transition: all 0.3s;
    border-right: 1px solid #fff;
    text-decoration: none;
  }
  .results__link:hover,
  .likes__link:hover {
    background-color: #f9f5f3;
    transform: translateY(-2px);
  }
  .results__link--active,
  .likes__link--active {
    background-color: #f9f5f3;
  }
  .results__fig,
  .likes__fig {
    flex: 0 0 5.5rem;
    border-radius: 50%;
    overflow: hidden;
    height: 5.5rem;
    margin-right: 2rem;
    position: relative;
    backface-visibility: hidden;
  }
  .results__fig::before,
  .likes__fig::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
    opacity: 0.4;
  }
  .results__fig img,
  .likes__fig img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  .results__name,
  .likes__name {
    font-size: 1.3rem;
    color: #ff6239;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }
  .results__author,
  .likes__author {
    font-size: 1.1rem;
    color: #968b87;
    text-transform: uppercase;
    font-weight: 600;
  }
  .results__pages,
  .likes__pages {
    margin-top: 3rem;
    padding: 0 3rem;
  }
  .results__pages::after,
  .likes__pages::after {
    content: "";
    display: table;
    clear: both;
  }
  .results__btn--prev,
  .likes__btn--prev {
    border: 1px solid #ffc29a;
    float: left;
    flex-direction: row-reverse;
  }
  .results__btn--next,
  .likes__btn--next {
    border: 1px solid #ffc29a;
    float: right;
  }
